<aside>
	<hr>
	<div class="panel radius">
		<h3>Write to Us</h3>
		<p>
			20-22 Wenlock Road<br>
			London<br>
			N1 7GU <br>
			United Kingdom <br><br>

			Tel:	020 3286 3635<br>
			Email:enq@SuperneConsulting.co.uk<br>
	</p>
	</div>

  <img class="b30" src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="">
test
<!-- Small Ad pocket under logo -->
	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		<SCRIPT charset="utf-8" type="text/javascript" src="//ws-eu.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=GB&ID=V20070822%2FGB%2Fjimbooks-21%2F8001%2F2ba7dcda-6410-4f80-9f4f-29635feb1e74"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="//ws-eu.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=GB&ID=V20070822%2FGB%2Fjimbooks-21%2F8001%2F2ba7dcda-6410-4f80-9f4f-29635feb1e74&Operation=NoScript">Amazon.co.uk Widgets</A></NOSCRIPT>
		
		</p>
	</div>

</aside>
