<aside>
	<hr>
	<div class="panel radius">
		<h3>Write to Us</h3>
		<p>
			20-22 Wenlock Road<br>
			London<br>
			N1 7GU <br>
			United Kingdom <br><br>

			Tel:	020 3286 3635<br>
			Email:enq@SuperneConsulting.co.uk<br>
	</p>
	</div>

  <img class="b30" src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="">
  Recommended Business Books:
<!-- Small Ad pocket under logo -->
	<div class="border-dotted radius b30">
		<p class="text-left">
		<a target="_blank"  href="https://www.amazon.co.uk/gp/offer-listing/0887307280/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=0887307280&linkCode=am2&tag=jimbooks-21&linkId=329a29cd2b5d3358350e2bbdc3aed3af"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=0887307280&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=jimbooks-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=jimbooks-21&l=am2&o=2&a=0887307280" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><hr>
		<a target="_blank"  href="https://www.amazon.co.uk/gp/offer-listing/B005XM6NO2/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B005XM6NO2&linkCode=am2&tag=jimbooks-21&linkId=f16c630c91db97f7fe2bc821a8ea3c4b"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B005XM6NO2&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=jimbooks-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=jimbooks-21&l=am2&o=2&a=B005XM6NO2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><hr>
		<a target="_blank"  href="https://www.amazon.co.uk/gp/offer-listing/0273784358/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=0273784358&linkCode=am2&tag=jimbooks-21&linkId=8d75fc6f5ffff3f9438c7acb33a8743f"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=0273784358&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=jimbooks-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=jimbooks-21&l=am2&o=2&a=0273784358" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><hr>
		</p>
	</div>

</aside>
