---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>

	{% include _head.html %}

<link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#edfdfa","text":"#000000","border":"#5ec2b6"},"button":{"background":"#5ec2b6","text":"#ffffff"}},"position":"bottom","content":{"href":"https://www.superneconsulting.co.uk/cookies","message":"This website uses cookies to ensure you get the best experience.  ","button":"OK I understand!"}})});</script>
</head>

<body id="top-of-page" class="{{ layout.format }}">

	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}
	<div class="panel radius" style="background-image: url('/images/blueback.webp'); background-repeat: no-repeat; background-attachment: fixed;  background-size: 100% 100%; ">
	{% include _masthead.html %}

	{% comment %}
	*
	* First check, if there is a call for action-button
	*
	{% endcomment %}
	{% if page.callforaction.url contains 'http' %}
	{% assign url = '' %}
	{% else %}

	{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
	{% endif %}
	{% if page.callforaction %}
	    <div class="row ">
	        <div class="small-12 text-center columns">
	            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
	        </div><!-- /.small-12.columns -->
	    </div><!-- /.row -->
	{% endif %}

	{{ content }}


	{% comment %}
	*
	* First check, if there is a second call for action-button
	*
	{% endcomment %}
	{% if page.callforaction2.url contains 'http' %}
	{% assign url = '' %}
	{% else %}
	{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
	{% endif %}
	{% if page.callforaction2 %}
	    <div class="row ">
	        <div class="small-12 text-center columns">
	            <a class="button large radius {{ page.callforaction2.style }}" href="{{ url }}{{ page.callforaction2.url }}"{% if page.callforaction2.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction2.text }}</a>
	        </div><!-- /.small-12.columns -->
	    </div><!-- /.row -->
	{% endif %}



{% unless page.skip_boilerplate %}
	{% include _footer.html %}
{% endunless %}
<!--/div> <!--end of background-->
	{% include _footer_scripts.html %}

	<script type="text/javascript">
_linkedin_partner_id = "1107945";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1107945&fmt=gif" />
</noscript>

</body>
</html>
